*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-login{
    display: flex;
}

#campo-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    max-width: 400px;
    height: 610px;
    background: #477c8d; 
}

.input-login{
    margin-bottom: 15px;
    width: 250px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50px;
    border: 1px solid lightgray;
}

.button-login{
    border-radius: 50px;
    height: 30px;
    width: 100px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    align-items: center;
    margin-bottom: 20px;
}

.campo-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 900px;
    min-height: 90vh;
}

.imagem-login{
    width: 900px;
    height: 100%;
} 

.logo-login {
    align-items: flex-start;
    width: 200px;
    height: 125px;
}

.esquecer-senha {
    text-decoration: none;
    color: #FFFFFF
}
